.albums-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5em;
}

.album-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px var(--shadow-color);
  .album-card-info {
    padding: 15px;
    background-color: var(--background-color);
  }
  .album-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--text-color);
  }
  .album-description {
    color: var(--text-light);
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  .view-btn {
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 0.75em;
    display: inline-block;
  }
}
