/* Colors */

:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: crimson;
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
  --font-family: "Cinzel";
  --font-family-secondary: "Fira Sans";
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  padding-top: 55px;
  background-color: var(--background-light);
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid transparent;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 3px 6px var(--shadow-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 1px 3px var(--shadow-color);
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
  }
}

img {
  object-fit: cover;
}

.container {
  padding-inline: 25vw;
}

.custom-image {
  height: 0;
  width: 100%;
  position: relative;
  &:hover > p {
    opacity: 1;
  }
  &.album-image {
    height: 200px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
  }
  p {
    transform: translateY(-125%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: var(--shadow-color);
  }
}

/*------------------*/
.main {
  padding-block: 3vw;
}

.section {
  display: flex;
  align-items: center;
  font-family: var(--font-family-secondary);
  margin-bottom: 3vw;
  flex-wrap: wrap;
  &.d-block {
    display: block;
  }
  .info {
    color: var(--text-light);
    font-size: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .title {
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 0.25em;
  }
  .col {
    width: 50%;
  }
}

/* Imports */

@import "partials/navbar";
@import "partials/animations";
@import "partials/hero-section";
@import "partials/album-of-the-year";
@import "partials/quote-section";
@import "partials/greatest";
@import "partials/footer";
@import "partials/albums-tri";
@import "partials/albums";
@import "partials/options";

/* Media Queries */

@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 18vw;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .sidebar-btn {
      display: block;
    }
  }
  .section {
    .col {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
    .album-item {
      display: inline-block;
      margin: 1em;
    }
  }
  .section.album-of-the-week {
    .btn {
      display: block;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }

  .greatest-card {
    box-shadow: 0 5px 10px var(--shadow-color);
  }
  @media screen and (max-width: 1280px) {
    .container {
      padding-inline: 6vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-inline: 3vw;
  }
}

.album {
  .solo-album-title {
    width: 100%;
    display: relative;
    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px var(--shadow-color);
    margin-bottom: 1em;
    font-family: var(--font-family);
    padding-block: 0.3em;
    background-color: var(--background-color);
  }
  .solo-album-mainimage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      width: 400px;
      height: 400px;
      border-radius: 5px;
      box-shadow: 0 3px 12px var(--shadow-color);
      margin-bottom: 1em;
    }
  }
  .solo-album-info {
    font-size: 1em;
    text-align: center;
    box-shadow: 0 3px 6px var(--shadow-color);
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5em;
    color: var(--text-color);
    background-color: var(--background-color);
  }
}
